/*============================================================================
BASE
=============================================================================*/

html{
    box-sizing: border-box;

    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}



/*============================================================================
GÉNÉRIQUE
=============================================================================*/

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

p{
    font-size: 2rem;
    color: black;
}

/*============================================================================
COMPONANTE
=============================================================================*/

/*--------header---------*/

header{
    background-color:#34495E;
    
}

header .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: "Roboto", serif;
    font-size: 9.6rem;
    color: white;
    letter-spacing: 36px;
}

/*--------citation---------*/

q{
    font-family: "Lato", serif;
    font-size: 4.8rem;
    font-weight:100;
}

.citation p{
    font-family: "Lato", serif;
    font-size: 4.8rem;
    font-weight:100;
    text-align: right;
    margin: auto;
}

.citation{
    display: flex;
    justify-content: center;
    
}

/*--------contenus---------*/

